.details {
  border-top: 1.5px solid rgba($color: $font-color, $alpha: .5);
  margin-top: 1em;
  padding-top: 0.5em;
  display: flex;
  justify-content: space-evenly;
  height: 400px;

  .poster-container {
    width: 25%;
    display: flex;
    align-items: center;
    img {
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }
  }
  .info {
    width: 45%;
    color: $font-color;
    .info-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.6em;
      border-bottom: 1.5px solid rgba($color: $font-color, $alpha: .5);

      .title {
        font-size: 2em;
        font-weight: 400;
      }

      .genres {
        margin-top: 0.3em;
      }

      .genre {
        background-color: $font-color;
        color: $theme-color;
        padding: 0.1em 0.3em;
        border-radius: 5px;
      }
    }

    .description {
      border-bottom: 1.5px solid rgba($color: $font-color, $alpha: .5);
      padding-top: .5em;
      padding-bottom: .5em;
    }

    .director {
      display: flex;
      .director-title {
        font-weight: 900;
        margin-right: 1em;
      }
      padding-top: .5em;
      padding-bottom: .5em;
      border-bottom: 1.5px solid rgba($color: $font-color, $alpha: .5);
    }

    .cast {
      .cast-title {
        font-weight: 900;
      }
    }
  }
  .more {
    width: 25%;
    .ratings {
      height: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-bottom: 1.5px solid rgba($color: $font-color, $alpha: .5);
      span {
        font-weight: 700;
        font-size: 1.6em;
        position: absolute;
        left: 65%;
        top: 30%;
      }
      .IMDB-rating {
        position: relative;
        img {
          max-width: 35%;
          margin-left: 15%;
        }
        span {
          top: 20%;
        }
      }
      .RT-rating {
        position: relative;
        img {
          max-width: 25%;
          margin-left: 20%;
        }
      }
      .MC-rating {
        position: relative;
        img {
          max-width: 25%;
          margin-left: 20%;
        }
      }
    }

    .streaming-guide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;

      .streaming {
        font-size: 1.2em;
        font-weight: 700;
      }

      a {
        display: flex;
        justify-content: center;
        img {
          align-self: center;
          max-width: 70%;
          margin-top: 7%;
        }
      }
    }
  }
}
