/*
 * Global scss variables
 */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
$bg-color: #bec6a9;
$theme-color: #f2f1f0;
$main-font: "Lato";
$font-color: #0b4141;
$secondary-font-color: #051622;
