.new-task-editor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
  border: 2px solid $font-color;;
  border-radius: 20px;
  z-index: 10;
  background-color: $theme-color;
  width: 50%;
  height: 50%;

  .header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $font-color;

    .close-btn {
      cursor: pointer;
      outline: none;
      background: none;
      border: none;
      color: $font-color;
      font-size: 1.3rem;
    }
  }
}

.new-task-editor.active {
  transform: translate(-50%, -50%) scale(1);
}


#overlay {
  position: fixed;
  opacity: 0;
  transition: 300ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: black, $alpha: .5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}
