.editor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
  border-radius: 20px;
  z-index: 10;
  background-color: $theme-color;
  min-height: 350px;
  width: 50%;
  height: 50%;

  .editor-header {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid rgba($color: $font-color, $alpha: 0.5);

    .editor-title {
      margin: 0 auto;
      font-size: 1.5em;
      font-weight: 700;
      color: $font-color;
    }

    .close-btn {
      cursor: pointer;
      outline: none;
      background: none;
      border: none;
      color: $font-color;
      font-size: 1.3rem;
      &:hover {
        color: $hover-color;
      }
    }
  }

  .editor-body {
    width: 95%;
    margin: 0 auto;
    color: $font-color;
    font-size: 1.2em;
    font-weight: 500;
    background-color: $theme-color;
    position: relative;

    .task-name-label {
      margin: 2% 0;
    }
    #task_name {
      width: 100%;
      border: 1.5px solid rgba($color: $font-color, $alpha: 0.5);
      resize: none;
      border-radius: 10px;
      background-color: transparent;
      color: $font-color;

      &:focus {
        outline: none;
      }
    }

    .category-div,
    .due-date-div {
      margin: 3% 0;
    }

    select,
    #due_date {
      background-color: transparent;
      border: 1.5px solid rgba($color: $font-color, $alpha: 0.5);
      border-radius: 5px;
      margin-left: 1.5em;
      color: $font-color;
      &:focus {
        outline: none;
      }
    }

    .submit-btn {
      border: 1.5px solid rgba($color: $font-color, $alpha: 0.5);
      border-radius: 6px;
      color: $font-color;
      display: block;
      margin: 0 auto;
      margin-top: 3%;
      font-size: 1.2em;
      background-color: transparent;

      &:hover {
        color: $hover-color;
        border-color: $hover-color;
      }
    }
  }
}

.editor.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 300ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: black, $alpha: 0.5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

#loading-animation {
  width: 30%;
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
