/*
 * Task containers stylings
 */

#main-board {
  width: 80%;
  min-height: 100vh;
  margin-left: 20%;
  font-family: $main-font;
  font-weight: 400;
  background: linear-gradient(to bottom right, $font-color 20%, $bg-color 100%);
  background-attachment: fixed;
  .header {
    height: 100px;
    color: $secondary-font-color;
    position: relative;
    display: flex;
    align-items: center;

    p {
      font-size: 2rem;
      font-family: $main-font, sans-serif;
      position: absolute;
      left: 5%;
      color: $theme-color;
    }
  }

  #tasks-container {
    width: 90%;
    margin: 0 auto;

    ul {
      padding: 0;
    }

    .new-task {
      text-align: center;
    }

    li {
      margin-top: 2em;
      border-radius: 10px 10px;
      line-height: 2em;
      background-color: $theme-color;
      color: $font-color;
      padding: 1em;
      position: relative;

      .edit-delete-section {
        position: absolute;
        right: 5%;
      }

      .edit-delete {
        font-size: 1.25em;
        button:hover {
          color: $hover-color;
        }
        margin-left: 1em;
      }

      .fa-circle-plus {
        font-size: 3em;

        &:hover {
          color: $hover-color;
          cursor: pointer;
        }
      };

      &:hover {
        box-shadow: 10px 10px $font-color;
      }

      button {
        border: none;
        background-color: transparent;
        color: $font-color;
      }

      .collapse-btn {
        position: absolute;
        bottom: 0.5em;;
        right: 50%;
        line-height: 1em;
      }

      .new-task-btn {
        line-height: 1em;
      }

    }
    .details {
      background-color: $theme-color;
    }

    input {
      margin-right: 1em;
    }
  }
}
